*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    padding-left: 100px;
    background-color: #f6f6f6 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
    z-index: 200;
}

/* bagian navbar */
.navbar {
    /* display: flex; */
    margin-right: 50px;
}

.navbar a {
    position: relative;
    margin-right: 20px;
    text-decoration: none;
    font-weight: 550;
    color:#0779E4;
}

.navbar ::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 3px;
    background:#0779E4 ;
    transition: .3s;
}
.navbar a:hover::before {
    width: 100%;
    
    /* transition: 5ms; */
}

.navbar button {
    margin-right: 20px;
    padding: 8px;
    background-color: #0779E4;
    border-radius: 10px;
    border: solid 1px ;
    align-items: center;
}

.logo {
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
    color: #2F327D;
    font-family: 'Kanit', sans-serif;
}

.tombol {
    padding-left: 20px;
    padding-right: 0;
}

.content {
    margin: 100px;
}

.content h3 {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 1.5rem;

}

.search input{
    border: black solid 1px;
    border-radius: 9999px;
    width: 700px;
    /* text-align: center; */
    margin-bottom: 1.5rem;
    margin-left: 32rem;
    padding-left: 25px;
    height: 50px;
}

.search ::placeholder {
    /* padding-left: 24px; */
    padding-top: 10px;
}

.wrap {
    display: flex;
    max-height: 800px;
    margin-left: 90px;
    margin-top: 20px;
    /* background-color: blue; */
}

.card {
    margin-right: 4rem;
}

